{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">
        Dashboard
    </h1>
</div>
<div class="row row-cards">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Api Activity</h3>
            </div>
            <div id="chart-development-activity" style="height: 10rem"></div>
            <div class="table-responsive">
                <table class="table card-table table-striped table-vcenter">
                    <thead>
                    <tr>
                        <th>Commit</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ronald Bradley</td>
                        <td>Initial commit</td>
                        <td class="text-nowrap">May 6, 2018</td>
                        <td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            require(['c3', 'jquery'], function (c3, $) {
                $(document).ready(function () {
                    var chart = c3.generate({
                        bindto: '#chart-development-activity', // id of chart wrapper
                        data: {
                            columns: [
                                // each columns data
                                ['data1', 0, 5, 1, 2, 7, 5, 6, 8, 24, 7, 12, 5, 6, 3, 2, 2, 6, 30, 10, 10, 15, 14, 47, 65, 55]
                            ],
                            type: 'area', // default type of chart
                            groups: [
                                ['data1', 'data2', 'data3']
                            ],
                            colors: {
                                'data1': tabler.colors["blue"]
                            },
                            names: {
                                // name of each serie
                                'data1': 'Purchases'
                            }
                        },
                        axis: {
                            y: {
                                padding: {
                                    bottom: 0,
                                },
                                show: false,
                                tick: {
                                    outer: false
                                }
                            },
                            x: {
                                padding: {
                                    left: 0,
                                    right: 0
                                },
                                show: false
                            }
                        },
                        legend: {
                            position: 'inset',
                            padding: 0,
                            inset: {
                                anchor: 'top-left',
                                x: 20,
                                y: 8,
                                step: 10
                            }
                        },
                        tooltip: {
                            format: {
                                title: function (x) {
                                    return '';
                                }
                            }
                        },
                        padding: {
                            bottom: 0,
                            left: -1,
                            right: -1
                        },
                        point: {
                            show: false
                        }
                    });
                });
            });
        </script>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Category</h3>
                    </div>
                    <div class="card-body">
                        <div id="chart-donut" style="height: 12rem;"></div>
                    </div>
                </div>
                <script>
                    require(['c3', 'jquery'], function (c3, $) {
                        $(document).ready(function () {
                            var chart = c3.generate({
                                bindto: '#chart-donut', // id of chart wrapper
                                data: {
                                    columns: [
                                        // each columns data
                                        ['data1', 63],
                                        ['data2', 37]
                                    ],
                                    type: 'donut', // default type of chart
                                    colors: {
                                        'data1': tabler.colors["green"],
                                        'data2': tabler.colors["green-light"]
                                    },
                                    names: {
                                        // name of each serie
                                        'data1': 'Maximum',
                                        'data2': 'Minimum'
                                    }
                                },
                                axis: {},
                                legend: {
                                    show: false, //hide legend
                                },
                                padding: {
                                    bottom: 0,
                                    top: 0
                                },
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}