{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1 class="page-title">
            Dashboard
        </h1>
    </div>
    <div class="row row-cards">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Test Text</h3>
                </div>
                <div class="card-body">
                    <form action="/test-text" method="post">
                        <div class="form-group">
                            <label for="text">Text</label>
                            <textarea name="text" class="form-control" id="text" rows="5"></textarea>
                        </div>
                        <div class="form-footer">
                            <input type="submit" class="btn btn-primary btn-block" value="Test">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Category</h3>
                </div>
                <div class="card-body">
                    <div id="chart-donut" style="height: 12rem;"></div>
                </div>
            </div>
            <script>
                require(['c3', 'jquery'], function (c3, $) {
                    $(document).ready(function () {
                        var chart = c3.generate({
                            bindto: '#chart-donut', // id of chart wrapper
                            data: {
                                columns: [
                                    // each columns data
                                    ['data1', 63],
                                    ['data2', 37]
                                ],
                                type: 'donut', // default type of chart
                                colors: {
                                    'data1': tabler.colors["green"],
                                    'data2': tabler.colors["green-light"]
                                },
                                names: {
                                    // name of each serie
                                    'data1': 'Maximum',
                                    'data2': 'Minimum'
                                }
                            },
                            axis: {},
                            legend: {
                                show: false, //hide legend
                            },
                            padding: {
                                bottom: 0,
                                top: 0
                            },
                        });
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}